# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
*.hprof

# Metro
.metro-health-check*

# Testing
coverage/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
build/
*.apk
*.aab
*.ipa
*.app

# EAS
eas-cli.json
